.login_labelname{
    font-size: 20px !important;
}
.boxheight{
    min-height: 110px !important;
}
.customsidebar{
    min-height: 1272px !important;
}
.direct-chat-messages{
    height: 280px !important;
}

.export-button a, .export-button i{
    color:#fff;
}
#Getprintval {
    margin-top: 15px;
    clear: both;
}
td.disabled.day {
    color: #ccc !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
}